:root {
	--2xl-cta-size: 1rem;
	--sm-cta-size: 0.75rem;
}

.hero-bg::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 45%;
	height: 100%;
	background: linear-gradient(
		to right,
		var(--background-one) 40%,
		#fffdfd90 75%,
		transparent
	);
}
.hero-bg::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, var(--background-one), transparent);
}

.movil-bg::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, var(--background-one), transparent);
}

.movil-bg::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 30%;
	background: linear-gradient(to top, var(--background-one), transparent);
}

/* .hero-title {
	position: absolute;
	inset: 1;
	top: 105%;
	opacity: 0;
	animation: revealDown 0.5s ease-in-out forwards;
}
.hero-title-y {
	transform: rotateX(90deg);
	animation: roll90 0.5s ease-in-out forwards;
	text-align: center;
	font-family: var(--font-cormorant);
	font-weight: 600;
	color: var(--primary-green);
} */
.revealFromDown {
	opacity: 0;
	animation: revealDown 0.75s ease-in-out forwards;
}
.revealfrom0 {
	transform: scale(0);
	opacity: 0;
	animation: reveal 0.5s ease-in-out forwards;
}
.cta-button {
	background-color: var(--primary-green);
	color: var(--background-one);
	border-radius: 1rem 0;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
	font-family: var(--font-jost);
	font-size: 1rem;
	font-weight: 400;
	padding-block: 0.8rem;
	padding-inline: 2.5rem;
	transform: rotateX(90deg);
	animation: roll90 0.5s ease-in-out forwards;
}

.cta-button:hover {
	background-color: var(--secondary-green);
}

.hero-skill {
	padding-inline: 1rem;
	padding-block: 0.5rem;
}
.hero-skill i {
	font-size: 0.875rem;
	color: var(--primary-green);
}

.hero-skill span {
	font-size: 0.75rem;
}
.delay100 {
	animation-delay: 0.1s;
}
.delay200 {
	animation-delay: 0.2s;
}
.delay300 {
	animation-delay: 0.3s;
}
.delay400 {
	animation-delay: 0.4s;
}
.delay500 {
	animation-delay: 0.5s;
}
.delay600 {
	animation-delay: 0.6s;
}
.delay700 {
	animation-delay: 0.7s;
}
.delay800 {
	animation-delay: 0.8s;
}
.delay900 {
	animation-delay: 0.9s;
}
.delay1000 {
	animation-delay: 1s;
}
@keyframes roll90 {
	to {
		transform: rotateX(0);
	}
}
@keyframes revealDown {
	to {
		top: 5%;
		opacity: 1;
	}
}
@keyframes reveal {
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/* mobil */
@media (max-width: 767px) {
	
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  notebook */
@media (min-width: 1024px) and (max-width: 1439px) {
	.home-img-container {
		right: -10rem;
	}
	.home-img {
		width: 87dvw;
		height: 87dvh;
	}
	.hero-container {
		top: 50%;
		left: var(--sm-layout-padding);
		transform: translateY(-50%);
		gap: 1rem;
	}
	.cta-button {
		font-size: var(--sm-cta-size);
	}
}

/*  monitor  */
@media (min-width: 1440px) {
	.home-img-container {
		right: -20rem;
	}
	.home-img {
		width: 100dvw;
		height: 100dvh;
	}
	.hero-container {
		top: 50%;
		left: var(--2xl-layout-padding);
		transform: translateY(-50%);
		gap: 2rem;
	}
	.cta-button {
		font-size: var(--2xl-cta-size);
		padding-block: 1rem;
		padding-inline: 3.5rem;
	}
	.hero-skill {
		padding-inline: 1.5rem;
		padding-block: 0.75rem;
	}
	.hero-skill i {
		font-size: 1.125rem;
	}
	.hero-skill span {
		font-size: 1rem;
	}
}
