.hero-bg::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 45%;
	height: 100%;
	background: linear-gradient(
		to right,
		var(--background-one) 40%,
		#fffdfd90 75%,
		transparent
	);
}
.hero-bg::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, var(--background-one), transparent);
}

.cta-button {
	background-color: var(--primary-green);
	color: var(--background-two);
	border-radius: 1rem 0;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
	font-family: Jost, sans-serif;
	font-size: var(--sm-btn-size);
	font-weight: 400;
	padding-block: 0.8rem;
	padding-inline: 2.5rem;
}

.cta-button:hover {
	background-color: var(--secondary-green);
	transform: translate(5px, -5px);
}

.cta-button-inv {
	background-color: transparent;
	color: var(--primary-green);
	font-weight: bold;
	border: 2px solid var(--primary-green);
	border-radius: 1rem 0;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.cta-button-inv:hover {
	border: 2px solid var(--secondary-green);
	color: var(--secondary-green);
	transform: translate(5px, -5px);
}

.hero-skill {
	padding-inline: 1rem;
	padding-block: 0.5rem;
}
.hero-skill i {
	font-size: 0.875rem;
	color: var(--primary-green);
}

.hero-skill span {
	font-size: 0.75rem;
}

/* mobil */
@media (max-width: 767px) {
	.home-img {
	}
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  notebook */
@media (min-width: 1024px) and (max-width: 1439px) {
	.home-img-container {
		right: -15rem;
	}
	.home-img {
		width: 95dvw;
		height: 95dvh;
	}
	.hero-container {
		top: 50%;
		left: var(--sm-layout-padding);
		transform: translateY(-50%);
		gap: 1rem;
	}
}

/*  monitor  */
@media (min-width: 1440px) {
	.home-img-container {
		right: -20rem;
	}
	.home-img {
		width: 100dvw;
		height: 100dvh;
	}
	.hero-container {
		top: 50%;
		left: var(--2xl-layout-padding);
		transform: translateY(-50%);
		gap: 2rem;
	}
	.cta-button {
		font-size: var(--2xl-btn-size);
		padding-block: 1rem;
		padding-inline: 3.5rem;
	}
	.hero-skill {
		padding-inline: 1.5rem;
		padding-block: 0.75rem;
	}
	.hero-skill i {
		font-size: 1.125rem;
	}
	.hero-skill span {
		font-size: 1rem;
	}
}
