@import "tailwindcss";
@import "tw-animate-css";
@import "./typography.css";

@custom-variant dark (&:is(.dark *));

:root {
	--font-cormorant: "Cormorant Garamond", serif;
	--font-jost: Jost, sans-serif;
	--font-bonheur: Bonheur Royale, cursive;
	--background: #ffffff;
	--foreground: #444;
	--background-one: #fffdfd;
	--background-two: #ffeaee;
	--background-three: #ffdae1;
	--background-green: #8ab8a8;
	--blob-color: #f2eae1;
	--primary-pink: #ffceda;
	--foreground-green: #385347;
	--primary-green: #537d6a;
	--secondary-green: #789e91;
	--leaf-color: green;
	--opacity-leaf: 0.65;

	/* layout */
	--sm-layout-padding: 10rem;
	--2xl-layout-padding: 15rem;
	--xs-layout-padding: 1.5rem;

	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
	overflow-x: hidden;
	min-height: 100dvh;
	scrollbar-gutter: stable;
	scrollbar-width: thin;
	scrollbar-color: #ff9bac transparent;
}
.scrollable {
	scrollbar-gutter: stable;
	scrollbar-width: thin;
	scrollbar-color: #ff9bac transparent;
}
body {
	background: linear-gradient(
		to bottom,
		var(--background-one),
		var(--background-two),
		var(--background-three)
	);
	background-attachment: fixed;
	overflow-x: hidden;
	min-height: 100dvh;
	font-family: var(--font-jost), serif;
	letter-spacing: 1px;
}

.bonheur {
	font-family: var(--font-bonheur);
}
.cormorant {
	font-family: var(--font-cormorant);
}

.custom-shadow {
	box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
}

.header2 {
	font-family: var(--font-cormorant);
	font-size: var(--sm-header2-size);
	font-weight: 700;
}

@media screen and (min-width: 1440px) {
	.header2 {
		font-size: var(--2xl-header2-size);
	}
}

.header-nav a:hover {
	text-shadow: 3px 3px 2px var(--primary-green);
}

.icon:hover {
	transform: scale(1.1);
	filter: drop-shadow(2px 2px 1px var(--primary-green));
}

.search-input {
	outline: none;
	box-shadow: 2px 2px 3px var(--primary-green);
}

.header-border {
	border-bottom: 2px solid var(--secondary-green);
	border-right: 2px solid var(--secondary-green);
	border-bottom-right-radius: 2rem;
}

.loading::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000040;
	z-index: 50;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		font-family: var(--font-cormorant), serif;
	}
}

/* .mobil-menu a {
	transform: translateX(-20%);
	transition: 1.3s ease;
	opacity: 0.5;
}

.mobil-menu.open a {
	transform: translateX(100%);
	opacity: 1;
	transition: 1.3s ease;
	transition-delay: calc(0.15s * var(--i));
} */
.mobil-menu {
	width: 100%;
}
.mobil-menu li {
	width: 100%;
	transform: translateX(-30%);
	transition:
		transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
		opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	font-size: 1.75rem;
	will-change: transform, opacity;
}

[data-state="open"] .mobil-menu li {
	transform: translateX(calc(var(--i) * 10%));
	opacity: 1;
	transition-delay: calc(0.15s * var(--i));
}

.testimonials1 {
	animation: slideUp 60s linear infinite;
}

@keyframes slideUp {
	from {
		top: 100%;
	}
	to {
		top: -1620px;
	}
}

.testimonials2 {
	animation: slideUp2 60s linear infinite;
	animation-delay: 30s;
}

@keyframes slideUp2 {
	from {
		top: 100%;
	}
	to {
		top: -1620px;
	}
}

.testimonial-container::after {
	position: absolute;
	content: "";
	inset: 0;
	background: linear-gradient(
		to bottom,
		var(--background-two),
		transparent 15%,
		transparent 85%,
		var(--background-two)
	);
}

.certificados1 {
	left: calc(100% + 24px);
	animation: slideLeft 40s linear infinite;
}

@keyframes slideLeft {
	to {
		left: -1795px;
	}
}

.certificados2 {
	left: calc(100% + 24px);
	animation: slideLeft2 40s linear infinite;
	animation-delay: 20s;
}

@keyframes slideLeft2 {
	to {
		left: -1795px;
	}
}
