@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: #ffffff;
	--foreground: #444;
	--background-one: #fffdfd;
	--background-two: #ffeaee;
	--background-three: #ffdae1;
	--background-green: #8ab8a8;
	--blob-color: #f2eae1;
	--primary-pink: #ffceda;
	--foreground-green: #385347;
	--primary-green: #537d6a;
	--secondary-green: #789e91;
	--leaf-color: green;

	/* layout */
	--sm-layout-padding: 10rem;
	--2xl-layout-padding: 15rem;

	--2xl-title-size: 3rem;
	--sm-title-size: 2.25rem;

	--2xl-subtitle-size: 2rem;
	--sm-subtitle-size: 1.5rem;

	--2xl-header-size: 1.5rem;
	--sm-header-size: 1.1rem;

	--2xl-text-size: 1.1rem;
	--sm-text-size: 0.9rem;
	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
	overflow-x: hidden;
	min-height: 100dvh;
}
body {
	background: linear-gradient(
		to bottom,
		var(--background-one),
		var(--background-two),
		var(--background-three)
	);
	background-attachment: fixed;
	letter-spacing: 1px;
	overflow-x: hidden;
	min-height: 100dvh;
	/* font-family: Arial, Helvetica, sans-serif; */
}

.title {
	font-size: var(--sm-title-size);
	font-weight: semibold;
}

.subtitle {
	font-size: var(--sm-subtitle-size);
	font-weight: semibold;
}

.header {
	font-size: var(--sm-header-size);
	font-weight: medium;
}

.text {
	font-size: var(--sm-text-size);
	font-weight: normal;
}

@media screen and (min-width: 1440px) {
	.title {
		font-size: var(--2xl-title-size);
	}
	.subtitle {
		font-size: var(--2xl-subtitle-size);
	}
	.header {
		font-size: var(--2xl-header-size);
	}
	.text {
		font-size: var(--2xl-text-size);
	}
}

.header-nav a:hover {
	text-shadow: 3px 3px 2px var(--primary-green);
}

.cta-button {
	background-color: var(--primary-green);
	color: var(--background-two);
	font-weight: bold;
	border-radius: 1rem 0;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.cta-button:hover {
	background-color: var(--secondary-green);
	transform: translate(5px, -5px);
}

.cta-button-inv {
	background-color: transparent;
	color: var(--primary-green);
	font-weight: bold;
	border: 2px solid var(--primary-green);
	border-radius: 1rem 0;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.cta-button-inv:hover {
	border: 2px solid var(--secondary-green);
	color: var(--secondary-green);
	transform: translate(5px, -5px);
}

.icon:hover {
	transform: scale(1.1);
	filter: drop-shadow(2px 2px 1px var(--primary-green));
}

.search-input {
	outline: none;
	box-shadow: 2px 2px 3px var(--primary-green);
}

.header-border {
	border-bottom: 2px solid var(--secondary-green);
	border-right: 2px solid var(--secondary-green);
	border-bottom-right-radius: 2rem;
}

.tip-border-up {
	border-top: 1px solid var(--secondary-green);
	border-left: 1px solid var(--secondary-green);
	border-top-left-radius: 2rem;
}

.tip-border-down {
	border-bottom: 1px solid var(--secondary-green);
	border-right: 1px solid var(--secondary-green);
	border-bottom-right-radius: 2rem;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
