:root {
	--font-cormorant: "Cormorant Garamond", serif;
	--font-jost: Jost, sans-serif;
	--font-bonheur: Bonheur Royale, cursive;

	--primary-green: #537d6a;

	--2xl-header-size: 3rem;
	--sm-header-size: 2.15rem;
	--xs-header-size: 1.75rem;

	--2xl-header-card: 2rem;
	--sm-header-card: 1.25rem;

	--2xl-subtitle-size: 1.7rem;
	--sm-subtitle-size: 1.7rem;

	--2xl-text-size: 1.125rem;
	--sm-text-size: 0.7rem;
}

.hero-title {
	text-align: center;
	font-family: var(--font-cormorant);
	font-weight: 600;
	line-height: 1.35;
	color: var(--primary-green);
	font-size: 2.5rem;
}

.header {
	font-family: var(--font-cormorant);
	font-size: var(--xs-header-size);
	font-weight: 500;
}
.header-card {
	font-family: var(--font-cormorant);
	font-size: var(--sm-header-card);
	font-weight: 500;
}

.subtitle {
	font-family: var(--font-cormorant);
	font-size: var(--sm-subtitle-size);
	font-weight: 600;
}

.text {
	font-family: var(--font-jost);
	font-size: var(--sm-text-size);
	line-height: 1rem;
	font-weight: 400;
}

/* mobil */
@media (max-width: 767px) {
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  notebook */
@media (min-width: 1024px) and (max-width: 1439px) {
	.header {
		font-size: var(--sm-header-size);
	}
	.subtitle {
		font-size: var(--sm-subtitle-size);
		line-height: 2.5rem;
	}
	.text {
		line-height: 1.5rem;
	}
	.hero-title {
		font-size: 3.25rem;
		line-height: 0.75;
	}
	.hero-subtitle {
		font-size: 1rem;
	}
}

/*  monitor  */
@media (min-width: 1440px) {
	.hero-title {
		font-size: 4.5rem;
	}
	.hero-subtitle {
		font-size: 1.25rem;
	}
	.header {
		font-size: var(--2xl-header-size);
	}
	.header-card {
		font-size: var(--2xl-header-card);
	}
	.subtitle {
		font-size: var(--2xl-subtitle-size);
	}
	.text {
		font-size: var(--2xl-text-size);
		line-height: 2rem;
	}
}
