.homebis-container {
	padding-inline: var(--sm-layout-padding);
}
.homebis-card {
	padding: 2rem;
	padding-block: 2.5rem;
	padding-top: 3rem;
}

.skillImageReveal {
	animation: skill-image-reveal both;
}
.skillImageReveal:nth-child(1) {
	animation-timeline: view(40% -15%);
}
.skillImageReveal:nth-child(2) {
	animation-timeline: view(50% 0%);
}
.skillImageReveal:nth-child(3) {
	animation-timeline: view(60% 15%);
}

.movil-homebis-skill {
	animation: skill-image-reveal both;
	animation-timeline: view(40% -15%);
}

@keyframes skill-image-reveal {
	from {
		filter: blur(5px);
		opacity: 0;
		scale: 0.5;
		translate: 0 50px;
	}
	to {
		filter: none;
		opacity: 1;
		scale: 1;
		translate: 0 0;
	}
}

/* mobil */
@media (max-width: 767px) {
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  notebook */
@media (min-width: 1024px) and (max-width: 1439px) {
}

/*  monitor  */
@media (min-width: 1440px) {
	.homebis-container {
		padding-inline: var(--2xl-layout-padding);
	}
	.homebis-card {
		padding: 3rem;
		padding-block: 3.5rem;
		padding-top: 4rem;
	}
}
