.tipImageReveal {
	animation: tip-image-reveal both;
	animation-timeline: view(60% 0%);
}
@keyframes tip-image-reveal {
	from {
		filter: brightness(0.8) blur(5px);
		opacity: 0;
		scale: 0.5;
	}
	to {
		filter: none;
		opacity: 1;
		scale: 1;
	}
}
